body {color: #333333;
background-color: #CCCCCC;
font-family: Arial, Verdana, Tahoma, sans-serif;}
main {margin-left: 100px; padding: 10px;} 
img {border: 10px solid black;}
div {border-top: 2px solid #333333;}
p {text-indent: 5em;}
#wrapper {margin-left: auto;
margin-right: auto;
width:90%;}
h1, h2, h3 {text-shadow: 3px 2px 5px #333333;
font-family: Georgia, "Times New Roman", serif;}